/* Styles for the home component */
::ng-deep .p-datepicker,
::ng-deep .p-select {
  width: 100% !important;
  max-width: 100% !important;
}
:host ::ng-deep .p-datepicker {
  z-index: 2000 !important;
}